.Songbrowser {
  flex-grow: 999;
  display: flex;
  flex-direction: column;
}

.Songbrowser .inputs {
  flex-grow: 0;
  font-size: 1.25em;
  min-width: 50%;
  margin: auto;
}

.Songbrowser .inputs input[type="text"] {
  display: block;
  margin: .2em 0;
  width: 100%;
  font-size: inherit;
}

.Songbrowser .inputs .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
  text-align: center;
}
.Songbrowser .inputs .checkboxes label {
  background-color: #21468b;
  padding: .2em .5em;
  border-radius: 0.5em;
}

.Songbrowser table {
  border-collapse: collapse;
  width: 100%;
}

.Songbrowser thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #222;
  text-align: left;
}

.Songbrowser tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);
}
.Songbrowser thead th.lossless,
.Songbrowser tbody tr td.lossless {
  background-color: #840;
}
.Songbrowser tbody tr:nth-child(odd) td.lossless {
  background-color: rgba(128, 64, 0, 0.8);
}

.Songbrowser tbody img.language {
  height: 1em;
}
