.Songbrowser {
  flex-grow: 999;
  display: flex;
  flex-direction: column;
}

.Songbrowser .inputs {
  flex-grow: 0;
  font-size: 1.25em;
  min-width: 50%;
  margin: auto;
}

.Songbrowser .inputs .text {
  display: grid;
}
.Songbrowser .inputs input[type="text"] {
  display: block;
  margin: .2em 0;
  font-size: inherit;
  padding: .2em .5em;
  border-radius: 0.5em;
}

.Songbrowser .inputs .checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .25em;
  text-align: center;
}
.Songbrowser .inputs .checkboxes label {
  background-color: #21468b;
  padding: .25em .5em;
  border-radius: 0.5em;
}

/* Layout */
.Songbrowser table {
  border-collapse: collapse;
  width: 100%;
}
.Songbrowser thead .left {
  text-align: left;
}
.Songbrowser thead tr th {
  position: sticky;
  z-index: 1;
  background-color: #222;
}
.Songbrowser thead tr:first-child th {
  top: 0;
}
.Songbrowser thead tr:last-child th {
  top: 1.1em;
}
.Songbrowser thead tr:last-child th.language,
.Songbrowser thead tr:last-child th.lossy,
.Songbrowser thead tr:last-child th.lossless {
  width: 1.05em;
}

/* Colors */
.Songbrowser tbody .SongRow:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.3);
}
.Songbrowser thead th.lossless,
.Songbrowser tbody .SongRow td.lossless {
  background-color: #840;
}
.Songbrowser tbody .SongRow:nth-child(odd) td.lossless {
  background-color: rgba(128, 64, 0, 0.8);
}
