body {
  background-color: #222;
  color: lightgray;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.App .category {
  flex-grow: 0;
  font-size: 1.25em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5em;
  min-width: 50%;
  margin: auto;
  text-align: center;
}

.App .category label {
  background-color: #ae1c28;
  padding: .25em .5em;
  border-radius: 0.5em;
}

.App .category_no_qa {
  background-color: #d9c50b;
  color: black;
  text-align: center;
}
